{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
{% endblock %}

{% block javascript %}
<script
type = "text/javascript"
src = "/assets/js/index.js"
crossorigin = "anonymous" > </script>{% endblock %}