{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
<audio src="/assets/musiques/home.mp3" autoplay loop></audio>

<div class="row">
    <div class="title col-lg-12">
        <h1>Course aux oeufs</h1>
    </div>
</div>

<div class="row">
    <div class="rules col-lg-8 col-md-6 col-sm-6">
        <h2><img src="/assets/images/logo.png" alt="image d'oeuf" class="logo"/>Règles du jeu<img src="/assets/images/logo.png" alt="image d'oeuf" class="logo"/></h2>

            <p><img src="/assets/images/lapin.png" alt="image d'oeuf" class="lapin"/>remplir son panier d'oeufs</p>
            <p><img src="/assets/images/lapin.png" alt="image d'oeuf" class="lapin"/>attention aux voleurs</p>
            <p><img src="/assets/images/lapin.png" alt="image d'oeuf" class="lapin"/>résous les énigmes</p>


    </div>
    <div class="ready col-lg-4 col-md-6 col-sm-6">
        <a href="/Game/index"><button type="button"  class="play">Jouer</button></a>
    </div>

</div>
</div>


{% endblock %}
