<!-- Modal -->
<div class="modal fade" id="modalmystere" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card mb-3">
                    <h3 class="card-header">Sylvain</h3>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <h6 class="card-subtitle text-muted"></h6>
                    </div>
                    <img src="/assets/images/sylvain.jpg" alt="Card image" class="img-fluid img-thumbnail">
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">blablabla</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
