<!-- Modal -->
<audio src="/assets/musiques/sylvain.mp3" autoplay loop></audio>
<div class="modal fade" id="modalmystere" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card mb-3">
                    <h3 class="card-header">Sylvain</h3>
                    <div class="card-body">
                    <div class="card-img">
                    <img src="/assets/images/sylvain.jpg" alt="Card image" class="img-fluid img-thumbnail">
                    </div>
                    <ul class="list-group list-group-flush">
<<<<<<< HEAD
                        <li class="list-group-item row justify-content-center">Special powers</li>
                        <li class="list-group-item row justify-content-center">PR refused</li>
                        <li class="list-group-item row justify-content-center">Throw him some sweets and he might validate your PR</li>
=======
                        <li class="list-group-item row justify-content-center">Ah!Ah!Ah!</li>
                        <li class="list-group-item row justify-content-center">I am</li>
                        <li class="list-group-item row justify-content-center">too strong</li>
>>>>>>> 121a584f86a9cedbbe3e1dd3d221a497bc8914c3
                    </ul>
                </div>
                </div>
                <div class="card-body row justify-content-center">

                    <a href="success4"><button type="button"  class="tryagain">TRY IT !</button></a>


                </div>
            </div>

        </div>
    </div>
</div>