{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/gameover.css">
{% endblock %}
{% block page %}
    <audio src="/assets/musiques/gameover.mp3" autoplay loop></audio>
<div class="container">


    <h1>Game over</h1>



</div>
{% endblock %}