{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/levelonecss.css">
{% endblock %}

{% block page %}
    <audio src="/assets/musiques/levelone.mp3" autoplay loop></audio>
{% include 'Game/_modal.html.twig' %}
    {% include 'Game/_modalmystere.html.twig' %}
    <div class="container-fluid">
        <audio src="http://le_serveur/lechemin/verslefichier.mp3" autoplay loop></audio>
        <button type="button" class="btn btn-danger offset-11"> EGGS</button>
            <div class="row">
                {% for item in items %}
                <div class="col-1">
                    <a data-target="#modal{{ loop.index }}" data-toggle="modal">
                    <img src="{{ random(['/assets/images/eggs_001.png', '/assets/images/eggs_002.png', '/assets/images/eggs_003.png','/assets/images/eggs_004.png',
                        '/assets/images/eggs_005.png','/assets/images/eggs_007.png','/assets/images/eggs_008.png','/assets/images/eggs_009.png',
                        '/assets/images/eggs_010.png']) }}">
                    </a>
                </div>
                {%  endfor %}
                <div class="col-1 mystere">
                    <a data-target="#modalmystere" data-toggle="modal">
                        <img src="/assets/images/eggmystere.png"></a>
                </div>
            </div>
    </div>
    <div class="decompte" id="decompte">


    </div>

    <script>
        var decompte = function (i) {
            document.getElementById("decompte").innerHTML = i + "s";
        }
        var affichage = function () {
            document.getElementById("decompte").innerHTML = "game over";

        }

        var temp = 0;

        var decrement = function () {

            for (var i = 60; i > -1; i--) {
                setTimeout((function (s) {

                    return function () {
                        decompte(s);

                    }

                })(i), temp);
                temp += 1000;
            }

        }

        decrement();
        setTimeout(affichage , temp-1000 );
        //affichage();

    </script>

{% endblock %}

