{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/success2.css">
{% endblock %}

{% block page %}
    <audio src="/assets/musiques/win.mp3" autoplay loop></audio>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><img src="/assets/images/bebe.png" alt="image de bébé" class="child"/></p>
                <p>You did it !!!</p>
            </div>
        </div>

        <div class="row">
            <div class="ready col-lg-6 col-md-6 col-sm-6">
                <a href="/Home/index"><button type="button"  class="quit">Quit</button></a>
            </div>

            <div class="ready col-lg-6 col-md-6 col-sm-6">
                <a href="/Home/index"><button type="button"  class="tryagain">Try again</button></a>
            </div>
        </div>
    </div>
{% endblock %}