body {
    padding-top: 50px;
    background-image: url("../images/garden.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;

}
.container-fluid {
    position: absolute;
}
.col-1 {
    object-fit: cover;
    position: relative;
    padding : 6px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.col-1:hover {
    opacity: 1;
    width: 150px; /* on affiche l'image au carré */
    height: 150px;
    border-radius: 50%;  /* on arrondit l'image */
    -webkit-transform: rotate(360deg); /* rotation de l'image */
    transform: rotate(360deg);
}
.col-1 {
    opacity: 0;
}

.card-header {
    background-color: cadetblue;
}

.card-img {
    height:250px;
    width: 250px;
}
.img-thumbnail {
    padding-left: 70px;
    object-fit: contain;
    margin-left: 20px;
    border-style: hidden;
}

.modal {
    opacity: 0.9;

}
.modal-content {
    width: 450px;
    height: 500px;
}
.card {
    border-style: hidden;
}


h3, h1 {
    color: #212121!important;
    font-family: 'Press Start 2P', cursive;
}

.compteur {
    border-radius: 25px;
    background-color: #044F67;
    width: 280px;
    height: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow:3px 3px 12px #999;
    opacity: 0.8;

}

.display-1 {
    font-size: 60px;
}

h3 {
    font-size: 20px;
}