body {
    padding-top: 50px;
    background-image: url("../images/garden.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
}
.container-fluid {
    position: absolute;

}
.col-1 {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    object-fit: cover;
    position: relative;
    padding : 6px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);

}
.col-1:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
    width: 150px; /* on affiche l'image au carré */
    height: 150px;
    border-radius: 50%;  /* on arrondit l'image */

}
.col-1 {
    opacity: 0;
}

.card-header {
    background-color: cadetblue;
}

.card-img {
    height:300px;
    width: 300px;
}
.img-thumbnail {
    padding-left: 90px;
    object-fit: contain;
    margin-left: 20px;
    border-style: hidden;
}

.card-body, li {
    color: #212121!important;
    font-family: 'Press Start 2P', cursive;

}

.card {
    border-style: hidden;
}


h3, h1, h5, h6 {
    color: #212121!important;
    font-family: 'Press Start 2P', cursive;
}

.compteur{
    padding-left: 10px;
    border-radius: 25px;
    background-color: #044F67;
    width: 280px;
    height: 120px;
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow:3px 3px 12px #999;
    opacity: 0.8;

}
.panier {
    border: #FFFFFF solid 5px;
    border-radius: 25px;
    background-color: darkseagreen;
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #212121;
    opacity: 1!important;
    font-size: 22px;
}
.display-1 {
    font-size: 60px;
}

h3 {
    font-size: 20px;
}

h1 {
    font-size: 45px!important;
}

.modal {
    opacity: 0.9;
}
.modal-body {
    background-color: cadetblue;
    box-shadow:3px 3px 3px #999;

}

