body{
    background-image: url("/assets/images/home.jpg");
    background-repeat: no-repeat;
}

.title h1{
    text-align: center;
    margin-top: 2em;
    font-family: "Press Start 2P", sans-serif;
    color: #ECD721;
    font-size: 4em;
}

.rules h2{
    font-family: "Press Start 2P", sans-serif;
    color: #ECD721;
    text-align: center;
    margin-top: 2em;
    font-size: 3em;
    margin-bottom: 1em;
    margin-left: -5em;
}

.play{
    font-family: "Press Start 2P", sans-serif;
    color: #FFFFFF;
    background-color: #ECD721;
    border-radius: 10px;
    font-size: 2.5em;
    margin-left: 10em;
    margin-top: 13em;
}

.logo{
    max-width: 9%;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

p{
    font-family: "Press Start 2P", sans-serif;
    color: #ECD721;
    font-size: 2em;
    margin-top: 1.5em;
    margin-left: -6.5em;
    margin-bottom: -1em;
}

.lapin{
    padding-bottom: 20px;
}
/*li{
    list-style-image: url("/assets/images/lapin.png");
    margin-top: 2em;
    margin-left: -10em;
}