body{
    background-image: url("/assets/images/phareouest.png");
    background-repeat: no-repeat;
}

.child{
    margin-right: 1em;

}

p{
    font-family: "Press Start 2P", sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1em;
    font-size: 4em;
}

.quit{
    font-family: "Press Start 2P", sans-serif;
    color: #FFFFFF;
    background-color: #ECD721;
    border-radius: 10px;
    margin-top: 5em;
    font-size: 2.5em;
    margin-left: 4em;
}

.tryagain{
    font-family: "Press Start 2P", sans-serif;
    color: #FFFFFF;
    background-color: #ECD721;
    border-radius: 10px;
    margin-top: 5em;
    font-size: 2.5em;


}